@import '../../scss/variables';

.layout{
    min-height: 100vh;
    padding: 1rem 0;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    // background-color: $mainColor;
    background: url('../../assets/images/homeBackground.jpg');
    color: $white !important;
    overflow: hidden;
    transition: all .5s ease-in-out;
    width: 100vw;
}

.activeLayout{
    background: linear-gradient(to right, white, #17375f14);
    // #00000024);
}


.drop{
    background-color: rgb(252, 252, 252);
    border-radius: 0.5rem;
    position: relative;
}

.content{
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    border-radius: 0 0 0.5rem 0 ;
}

.showContent{
    border-top: 1px solid rgb(235, 230, 230);
    height: 105px;
    // overflow: visible;
}

.dropItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
    h3{
        font-size: 18px;
        font-weight: 600;
        color: $black;
        // margin: 0.2rem 0.3rem 0 0;
        text-transform: capitalize;
    }
}

.activeDropItem{
    background-color: #f2eee9;
}

.activeList{
    height: 35rem !important;
    overflow: visible;
    padding: 9rem 0 0 0 !important;
}

.list{
    padding: 0;
    text-align: center;
    list-style: none;
    height: 0px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    li{
        display: block;
        margin: auto;
        margin-bottom: 1.5rem;
    }

    a{
        text-decoration: none;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        position: relative;
        color: $mainColor;
    }

    a::before{
        content: '';
        position: absolute;
        top: 100%;
        width: 0%;
        margin-top: 0.2rem;
        height: 2px;
        background-color: $mainColor;
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    .teamLink::before{
        height: 3px;
    }
}

// .list li a:hover{
//     color: inherit !important;
// }
.list li a:hover::before{
   width: 100%;
}

//////////////

.showList{
    position: absolute;
    top:5%;
    display: flex;
    align-items: center;
    cursor: pointer;
    // background-color: red;
}

.mainIcon{
    position: relative;
    position: relative;
    height: 20px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
    color: #000;
}

.activeMainIcon::before {
    transform: rotate(40deg);
}
.activeMainIcon::after{
    transform: rotate(140deg) !important;
}

.mainIcon::before{
    content: '';
    background-color: $mainColor;
    height: 5px;
    width: 20px;
    position: absolute;
    top: 0;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.mainIcon::after{
    content: '';
    background-color: $mainColor;
    height: 5px;
    width: 20px;
    position: absolute;
    top: -5px;
    margin-top: 5px;
    transform: rotate(90deg);
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.firstMainIcon::before , .firstMainIcon::after{
    background-color: $white;
}

.explore{
    text-transform: capitalize;
    font-size: 18px;
    margin-top: -0.8rem;
    color: $mainColor;
}

.firstExplore{
    color: $white !important;
}

.closeMenu{
    list-style: none;
    height: 160px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: -15rem;
    padding-left: 1.2rem !important;
    transition: all 0.5s ease-in-out;
}

.activeCloseMenu{
    top: 1.2rem !important;
}

.closeItem {
    color: #a7a3a3 !important;
    display: block;
    margin: 0.5rem 0 ;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.closeItem:first-child{
    margin: 0.1rem 0 0.5rem 0 !important;
}

.closeItem:hover{
    color: inherit;
}

.acitveCloseItem{
    color: $mainColor !important
}


// Footer
footer{
    padding: 4rem 0 1rem 0;

    h2{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0.3rem !important;
    }

    // img{
    //     // width: 35px;
    //     // height: 35px;
    //     width: 220px;
    //     height: auto;
    //     margin-top: -0.6rem
    // }

    span{
        margin-top: -0.5rem;
    }

    h3{
        font-size: 16px;
        font-weight: bold;
    }

    .divider{
        height: 45px;
        width: 1px;
        background-color: gray;
        display: inline-block;
    }
    h4{
        font-size: 16px;
    }

    span{
        font-size: 16px;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        h2 , h4, span{
            font-size: 14px;
        }
        h3{
            font-size: 12px;
        }
        img{
            width: 25px;
            height: 25px;
        }
    }
}


.logo{
    position: absolute;
    top: 38%;
    left: 42%;
    animation: scale linear 0.5s;
    transform: scale(1.7);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    img{
        width: 120px;
        transform: scale(1.7);
        transform: translateX(10px);
    }

    h4{
        font-size: 16px;
        display: block;
        margin-top: 1rem;
    }
}

@keyframes scale {
    0%{
        transform: scale(0.5);
    }
    // 100%{
    //     transform: scale(1.7);
    // }
}

@media (max-width: 768px) {
    .logo{
        left: 23%;

        img{
            width: 78px;
        }

        h4{
            font-size: 10px;
        }
    }
}