@import '../../scss/variables';

.international{
    min-height: 100vh;
    padding: 1rem 0;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black;
    color: $white !important;
    overflow: hidden;
    transition: all .5s ease-in-out;
    position: relative;


    .activeList{
        height: 35rem !important;
        overflow: visible;
        padding: 9rem 0 0 0 !important;
    }
    
    .list{
        padding: 0;
        text-align: center;
        list-style: none;
        height: 0px;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        z-index: 1;
    
        li{
            display: block;
            margin: auto;
            margin-bottom: 1.5rem;
        }
    
        a{
            text-decoration: none;
            font-size: 40px;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
            position: relative;
            color: $white;
        }
    
        a::before{
            content: '';
            position: absolute;
            top: 100%;
            width: 0%;
            margin-top: 0.2rem;
            height: 2px;
            background-color: $white;
            left: 0;
            transition: all 0.5s ease-in-out;
        }
    
        .teamLink::before{
            height: 3px;
        }
    }
    
    // .list li a:hover{
    //     color: inherit !important;
    // }
    .list li a:hover::before{
       width: 100%;
    }
    
    //////////////
    
    .showList{
        position: absolute;
        top:5%;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 1;
        // background-color: red;
    }
    
    .mainIcon{
        position: relative;
        position: relative;
        height: 20px;
        width: 30px;
        display: inline-block;
        cursor: pointer;
        color: $white;
    }
    
    .activeMainIcon::before {
        transform: rotate(40deg);
    }
    .activeMainIcon::after{
        transform: rotate(140deg) !important;
    }
    
    .mainIcon::before{
        content: '';
        background-color: $white;
        height: 5px;
        width: 20px;
        position: absolute;
        top: 0;
        display: inline-block;
        transition: all 0.5s ease-in-out;
    }
    
    .mainIcon::after{
        content: '';
        background-color: $white;
        height: 5px;
        width: 20px;
        position: absolute;
        top: -5px;
        margin-top: 5px;
        transform: rotate(90deg);
        display: inline-block;
        transition: all 0.5s ease-in-out;
    }

    .logo{
        margin-top: -0.8rem;
    }

    .Slider{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // z-index: 

        .item{
            width: 100%;
            height: 100vh;
            position: relative;
        }

        .first{
            background: url(../../assets/images/intern1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
        }
        .second{
            background: url(../../assets/images/intern4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
        }
        .third{
            background: url(../../assets/images/intern2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
        }
        .fourth{
            background: url(../../assets/images/intern3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            background-position: center
        }

        .item::before{
            content: '';
            background-color: #000;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            // z-index: 1;
            opacity: 0.5;
        }
            // .detail{
            //     position: absolute;
            //     height: 100%;
            //     padding: 2% 0 2% 8%;
            //     z-index: 1;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: space-between;
    
            //     h2{
            //         color: $white;
            //         font-size: 42px;
            //     }
    
            //     h4{
            //         color: $white;
            //         font-size: 33px;
            //     }
            // }
    }

    .arrow{
        position: absolute;
        bottom: 2rem;
        padding: 0 5rem;

        
        span{
            cursor: pointer;
            color: $white;
            font-size: 26px;
        }
    }

}