//Fonts variables
$icomoon-landing-font: 'icxLanding';
$icomoon-landing-path: '../assets/fonts/landing';



///Colors
$white: #fff;
$black: #000;
$lightGray: rgb(248,249,250);
$mainColor: #17375f;

/// land icons
$landing-close: "\ea0f";
$landing-plus: "\ea0a";
$arrow-down: "\e901";
  